.blog {
  padding: 120px 0 140px;
  .post {
    max-width: 370px;
    transition: 0.6s ease;
    .imgSlider {
      position: relative;
      margin-bottom: 0;
      .slick-dots {
        bottom: 20px;
        position: absolute;
        li {
          button:before {
            color: #fff;
            opacity: 0.5;
            width: 5px;
            height: 5px;
            left: 50%;
            top: 14%;
            transform: translate(-50%, -50%);
          }
        }
        .slick-active {
          background: transparent;
          border: 1px solid #d3c1ad;
          border-radius: 50%;
        }
      }
    }
    .img {
      height: 220px;
      width: 100%;
      position: relative;
      img {
        height: 100%;
        width: 100%;
      }
      .imgOverlay {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 100;
        .top {
          padding: 10px;
          background: #363636;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          transition: 0.5s ease;
          p {
            font-size: 24px;
            color: #fff;
          }
        }
        .bottom {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          background: #252525;
          padding: 5px 10px;
          transition: 0.5s ease;
          p {
            color: #fff;
          }
        }
      }
    }
    .text {
      border-left: 1px solid #f8f8f8;
      border-right: 1px solid #f8f8f8;
      border-bottom: 1px solid #f8f8f8;
      padding: 35px 30px 30px;
      transition: 0.5s ease;
      h3 {
        color: $grey;
        font-size: 20px;
        margin-bottom: 30px;
      }
      p {
        color: $lightGrey;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 30px;
      }
      a {
        color: $light;
        position: relative;
        &:after {
          position: absolute;
          right: -13px;
          bottom: 4px;
          content: "";
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 5px solid $light;
        }
      }
    }
    &:hover {
      .img {
        img {
          background: rgba(#362f2d, 0.3);
        }
        .imgOverlay {
          .top {
            background: #c7b299;
          }
          .bottom {
            background: #a48d72;
          }
        }
      }
      .text {
        background-color: #362f2d;
        border-left: 1px solid #362f2d;
        border-right: 1px solid #362f2d;
        border-bottom: 1px solid #362f2d;
        h3 {
          color: #b8a58e;
        }
        p {
          color: #fff;
        }
        a {
          color: #867768;
          &:after {
            color: #867768;
          }
        }
      }
    }
  }
}
