@font-face {
  font-family: MontserratLight;
  src: url(../fonts/MontserratLight.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/MontserratRegular.ttf);
}

@font-face {
  font-family: RalewayBold;
  src: url(../fonts/RalewayBold.ttf);
}

@font-face {
  font-family: RalewaySemibold;
  src: url(../fonts/RalewaySemiBold.ttf);
}

@font-face {
  font-family: RalewayMedium;
  src: url(../fonts/RalewayMedium.ttf);
}

@font-face {
  font-family: RalewayRegular;
  src: url(../fonts/RalewayRegular.ttf);
}