.header {
  background: url("../img/HeaderBg.png") center no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 40px 0 380px;
  &Navbar {
    width: 100%;
    margin-bottom: 280px;
    display: flex;
    align-items: center;
    .navbarMenu {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-right: 60px;
      .menuItem {
        display: inline-block;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        .itemLink {
          font-family: "MontserratLight", sans-serif;
          font-size: 14px;
          color: #ededec;
          transition: 0.5s ease;
          &:hover {
            cursor: pointer;
            color: #c7b299;
          }
        }
      }
    }
    .navbarLinks {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .cart {
        margin-right: 30px;
      }
    }
  }
  &Text {
    h2 {
      font-family: "RalewayMedium", sans-serif;
      font-size: 36px;
      line-height: 1.5;
      color: #fff;
    }
    h1 {
      font-family: "RalewaySemibold", sans-serif;
      font-size: 52px;
      line-height: 1.5;
      margin-bottom: 10px;
      color: #fff;
    }
    p {
      font-family: "MontserratLight", sans-serif;
      font-size: 16px;
      max-width: 570px;
      line-height: 1.5;
      margin-bottom: 45px;
      color: #fff;
    }
    a {
      padding: 20px 0;
      background-color: #998675;
      font-family: "RalewaySemibold", sans-serif;
      font-size: 14px;
      color: #fff;
      max-width: 170px;
      border-radius: 5px;
      cursor: pointer;
      transition: box-shadow 0.3s;
      transition: all 0.6s;
      position: relative;
      &:hover {
        &::after {
          position: absolute;
          content: "";
          top: 10px;
          left: 10px;
          border: 2px solid #736357;
          width: 100%;
          height: 100%;
          cursor: pointer;
          // box-shadow: 5px 5px 2px #736357;
          // border: 1px solid;
          // transform: scale(1.1);
        }
      }
    }
  }
}
