.about
    .container
        h2.title.center Waxom is Realization of your Ideas.
        p.description.center Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
        img(src="./img/AboutImg.png" alt="about").center