.blog
    .container
        h2.title.center Recent Posts.
        p.description.center Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
        .postSlider.row
                .post
                    .img
                        .imgSlider
                            img(src="./img/Post1.png", alt="post1")
                            img(src="./img/Post1.png", alt="post1")
                        .imgOverlay
                            .top
                                p.center 30
                            .bottom
                                p.center Sep.
                    .text
                        h3 Lorem ipsum dolor sit amet
                        p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                        a(href="#") Read More
                .post
                    .img
                        img(src="./img/Post2.png", alt="post2")
                        .imgOverlay
                            .top
                                p.center 30
                            .bottom
                                p.center Sep.
                    .text
                        h3 Lorem ipsum dolor sit amet
                        p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                        a(href="#") Read More
                .post
                    .img
                        img(src="./img/Post3.png", alt="post3")
                        .imgOverlay
                            .top
                                p.center 30
                            .bottom
                                p.center Sep.
                    .text
                        h3 Lorem ipsum dolor sit amet
                        p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
                        a(href="#") Read More
