.companies
    .container.row
        img(src="./img/Company1.svg" alt="company1")
        img(src="./img/Company2.svg" alt="company2")
        img(src="./img/Company3.svg" alt="company3")
        img(src="./img/Company4.svg" alt="company4")