.features.container
    .featuresList.row
        .featureItem
            .center.itemImg
                img(src="./img/FeatureItem1.svg" alt="Web & App Design")
            .center.itemText
                h3.center Web & App Design
                p.center Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
        .featureItem
            .center.itemImg
                img(src="./img/FeatureItem2.svg" alt="Development")
            .center.itemText
                h3.center Development
                p.center Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
        .featureItem
            .center.itemImg
                img(src="./img/FeatureItem3.svg" alt="Customization")
            .center.itemText
                h3.center Customization
                p.center Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
        .featureItem
            .center.itemImg
                img(src="./img/FeatureItem4.svg" alt="Marketing")
            .center.itemText
                h3.center Marketing
                p.center Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
