.footer
    .container.row
        ul.menu
            li.menuItem 
                a(href="#")
                    | Copyright &copy 2015 
                    span.white Waxom
            li.menuItem
                a(href="#") Privacy Policy
            li.menuItem 
                a(href="#") FAQ
            li.menuItem
                a(href="#") Support

        ul.menu
            li.menuItem
                a(href="#") Designed by 
                    span ThemeFire
            li.menuItem
                a(href="#") Only on 
                    span Envato Market