.header
    .container
        .headerNavbar.row
            img(src="./img/Logo.svg" alt="Waxom").navbarLogo
            div.navbarBlock
                ul.blockMenu
                    li.menuItem
                        a(href="#").itemLink Home
                    li.menuItem 
                        a(href="#").itemLink About us
                    li.menuItem
                        a(href="#").itemLink Portfolio
                    li.menuItem 
                        a(href="#").itemLink Features
                    li.menuItem 
                        a(href="#").itemLink Blog
                    li.menuItem 
                        a(href="#").itemLink Pricing
                    li.menuItem 
                        a(href="#").itemLink Shortcodes
                    li.menuItem 
                        a(href="#").itemLink Contact
                div.navbarLinks
                    a(href="#").link
                        img(src="./img/CartHeader.svg" alt="cart")
                    a(href="#").link
                        img(src="./img/SearchHeader.svg" alt="search")
        .headerText
            h2.center Unique and Modern Design
            h1.center Portfolio PSD Template
            p.center Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
            a(href="#").getStarted.center GET STARTED
        