.mobile
    .container.row
        img(src="./img/MobileImg.png" alt="phone")
        div.mobileText
            h2.title Excellent for Mobile Devices.
            p.description Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
            ul.menuMobile
                li.menuMobileItem Nam liber tempor cum soluta nobis eleifend option;
                li.menuMobileItem Option congue nihil imperdiet doming id quod mazim placerat facer;
                li.menuMobileItem Eodem modo typi, qui nunc nobis videntur parum futurum;
                li.menuMobileItem Investigationes demonstraverunt lectores