.pricing
    .container
        .row.pricingRow
            .pricingText
                h2 
                    span Waxom 
                    | Multipurpose WordPress Theme
                p Don't Forget to Rate the Template. Thanks so much!
            a(href="#") Purchase now