.projects.container
    h2.center.title Our Latest Projects.
    p.center.description Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
    .row.projectsRow
        a(href="#").center All
        a(href="#").center Web Design
        a(href="#").center Mobile App
        a(href="#").center Illustration
        a(href="#").center Photography
    .row
        .project
            .imgBlock
                img(src="./img/Project1.png" alt="project1")
                .imgHover
                    .row.hoverCenter
                        img(src="./img/link.svg", alt="link")
                        img(src="./img/search.svg", alt="link")
            .projectText
                h3 Clarits Etiam Processus
                p Photography, Nature
        .project
            .imgBlock
                img(src="./img/Project2.png" alt="project2")
                .imgHover
                    .row.hoverCenter
                        img(src="./img/link.svg", alt="link")
                        img(src="./img/search.svg", alt="link")
            .projectText
                h3 Quam Nutamus Farum
                p Graphic Design, Mock-Up
        .project
            .imgBlock
                img(src="./img/Project3.png" alt="project3")
                .imgHover
                    .row.hoverCenter
                        img(src="./img/link.svg", alt="link")
                        img(src="./img/search.svg", alt="link")
            .projectText
                h3 Usus Legentis Videntur
                p Photography, Holiday
        .project
            .imgBlock
                img(src="./img/Project4.png" alt="project4")
                .imgHover
                    .row.hoverCenter
                        img(src="./img/link.svg", alt="link")
                        img(src="./img/search.svg", alt="link")
            .projectText
                h3 Clarits Etiam Processus
                p Photography, Nature
        .project
            .imgBlock
                img(src="./img/Project5.png" alt="project5")
                .imgHover
                    .row.hoverCenter
                        img(src="./img/link.svg", alt="link")
                        img(src="./img/search.svg", alt="link")
            .projectText
                h3 Quam Nutamus Farum
                p Graphic Design, Mock-Up
        .project
            .imgBlock
                img(src="./img/Project6.png" alt="project6")
                .imgHover
                    .row.hoverCenter
                        img(src="./img/link.svg", alt="link")
                        img(src="./img/search.svg", alt="link")
            .projectText
                h3 Usus Legentis Videntur
                p Photography, Holiday
    a(href="#").center.loadMore Load More
