.shortcodes
    .container.row
        .shortcodesBlock
            img(src="./img/Logo.svg" alt="logo")
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
            a(href="#") Read More
        .shortcodesBlock
            h3.shortcodesBlockTitle Recent Posts
            .postBlock
                p September 08, 2015
                p Lorem ipsum dolor sit amet, consectetuer adipiscing elit
            .postBlock
                p September 08, 2015
                p Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
            .postBlock
                p September 08, 2015
                p Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
        .shortcodesBlock
            h3.shortcodesBlockTitle Our Twitter
            .postBlock
                p 
                    span.tag @waxom 
                    | Cum soluta nobis eleifend option congue nihil imperdiet doming
                p 3 mins ago
            .postBlock
                p Mirum est 
                    span.tag #envato 
                    | notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
                p 5 hours ago
            .postBlock
                p Soluta nobis option 
                    span.link bit.ly/1Hniso7
                p 20 days ago
        .shortcodesBlock
            h3.shortcodesBlockTitle Dribble Widget
            .row
                img(src="./img/Widget1.png" alt="widget1")
                img(src="./img/Widget2.png" alt="widget2")
                img(src="./img/Widget3.png" alt="widget3")
                img(src="./img/Widget4.png" alt="widget4")
