.stats
    .container.row
        .stat
            img(src="./img/StatIcon1.svg" alt="stat1").center
            p.center 3587
            p.center Satisfied Clients
        .stat
            img(src="./img/StatIcon2.svg" alt="stat2").center
            p.center 207
            p.center Cups of coffee
        .stat
            img(src="./img/StatIcon3.svg" alt="stat3").center
            p.center 2500
            p.center Blog posts
        .stat
            img(src="./img/StatIcon4.svg" alt="stat4").center
            p.center 873
            p.center Likes
        .stat
            img(src="./img/StatIcon5.svg" alt="stat5").center
            p.center 900
            p.center We launched
        