$grey: #555555;
$light: #c7b299;
$white: #959595;
$dark: #363636;
$lightGrey: #8c8c8c;
$link: #00bff3;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: MontserratLight;
  src: url(../fonts/MontserratLight.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/MontserratRegular.ttf);
}

@font-face {
  font-family: RalewayBold;
  src: url(../fonts/RalewayBold.ttf);
}

@font-face {
  font-family: RalewaySemibold;
  src: url(../fonts/RalewaySemiBold.ttf);
}

@font-face {
  font-family: RalewayMedium;
  src: url(../fonts/RalewayMedium.ttf);
}

@font-face {
  font-family: RalewayRegular;
  src: url(../fonts/RalewayRegular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // align-items: center;
}

.link {
  color: #959595;
}

.tag {
  color: #00bff3;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-family: "RalewaySemibold", sans-serif;
  font-size: 30px;
  padding-bottom: 30px;
  color: #555555;
}

.description {
  font-family: "MontserratLight", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 45px;
  max-width: 720px;
  color: #9e9e9e;
}

@import "../partials/_header";
@import "../partials/_features";
@import "../partials/_about";
@import "../partials/_pricing";
@import "../partials/_projects";
@import "../partials/_mobile";
@import "../partials/_stats";
@import "../partials/_blog";
@import "../partials/_companies";
@import "../partials/_shortcodes";
@import "../partials/_footer";
